{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">

            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
            <!-- Custom Theme files -->
            <link href={% static 'App/css/style.css' %} rel="stylesheet" type="text/css" media="all" />
            <!--web-fonts-->
            <link href='//fonts.googleapis.com/css?family=Jura:400,300,500,600' rel='stylesheet' type='text/css'>
            <link type="text/css" rel="stylesheet" href={% static 'App/css/jquery.mmenu.all.css' %} />
            <!--//web-fonts-->
            <!-- js -->
            <script src="{% static 'App/js/jquery-1.11.1.min.js' %}"></script> 
            <script type="text/javascript" src="{% static 'App/js/jquery.mmenu.min.all.js' %}"></script>
            <!-- //js -->
            <!-- chart -->
            <script src="{% static 'App/js/Chart.js' %}"></script>

                <title>Home</title>
                <!-- Core CSS - Include with every page -->
                <link href="{% static 'App/css/bootstrap.min.css' %}" rel="stylesheet">
                <link href="{% static 'App/css/style.css' %}" rel="stylesheet">
                </head>
                <body>
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <p class="text-center"><a class="navbar-brand" href="#">Lady</a></p>
                            </div>
                        </div>
                    </nav>

                {% block content %}
                {% endblock %}


                    <!-- Core Scripts - Include with every page -->
                    <script src = "{% static 'App/js/jquery.min.js' %}"></script>
                    <script src = "{% static 'App/js/bootstrap.min.js' %}"></script>
        {% block javascript %}
        {% endblock %}


            </body>
        </html>
