{% extends 'base.html' %}

{% block content %}

<div class="container" style="min-height:100%">
    <div class="row">
      <div class="col-xs-4 col-xs-offset-4">
        <img src="" alt="" class="img-responsive img-circle dash-img" height="200" width="200">
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <div class="banner">
        <h1>Personal Info</h1>
        </div>
        <div class="info col-md-8 col-md-offset-2">
            <h2>Name:{{ user.user.first_name }} {{ user.user.last_name }}</h2>
            <h2>Username:{{ user.user.username }}</h2>
            <h2>E-mail:{{ user.user.email }}</h2>
            <h2>Contact:{{ user.phone_number }}</h2>
          </div>
      </div>

    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <h1>Health Information</h1>
        <div class="info col-md-8 col-md-offset-2">

            <h2>Age:{{ user.age}}</h2>

          </div>
      </div>
    </div>
</div>
{% endblock %}
