{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<style>
	*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans serif;
  background-color: #ddd;
}

.cards {
  margin: 2rem auto;
  max-width: 90%;
  text-align: center;
}

.card {
  $size = 300px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: $size;
  height: $size * .75;
  margin: 1.5rem;
  text-align: left;
  cursor: pointer;
}

.card-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 10, .1);
}

.card-content {
  position: relative;
  padding: 2rem;
}

.label {
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  color: #aaa;
  white-space: initial !important;
}

.title {
  display: block;
  margin: 1em 0;
  font-size: 1.125rem;
  font-weight: 600;
}

.description {
  margin: 0;
  color: gray;
  line-height: 1.5;
}
</style>

  {% for q in questions %}
<div class="container" style="width:100%">
<div class="card" style="width:90%">
    <div class="card-bg"></div>
    <div class="card-content">

    <div class="label"><a href="/viewquestion/{{ q.pk }}"><p>{{ q.question }}</p></a></div>
    <span class="title center pull-right" style="color:red;font-size:0.7em;">- {{ q.user|title }}</span>
      <br>
    </div>
  </div>
 </div>
    {% endfor %}
{% endblock %}